/* Header.css */

.navbar {
  background-color: #a8c7dd;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-brand {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none; /* Remove underline from the brand */
}

.navbar-nav {
  display: flex;
  flex-direction: end;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.collapse {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.collapse img {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
  margin-left: 1rem;
}
.navbar-toggler {
  background-color: #fff;
}

.navbar-toggler-icon {
  background-color: #fff;
}

.navbar-nav {
  margin-left: auto; /* Move the navbar items to the right */
}

.nav-item {
  margin-right: 10px; /* Adjust spacing between items */
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.nav-link:hover {
  border-bottom: 3px solid rgb(0, 0, 0);
  transition: 3s;
}
